<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <style>
        body{
            width: 100%;
        }
        .container {
            width: 70%;
            height: auto;
        }

        #item {
            border: 1px solid black;

        }
    </style>
</head>

<body>
    <div class="container">
        <div id="item">
            <a href="http://">Đại Lý Giao</a> </div>

        <div id="item">
            <a href="http://">Giao Trực Tiếp</a></div>

        <div></div>
    </div>
</body>

</html>