<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
    <style>
      tr{
        padding: 10px;
      }
    </style>
  </head>
  <body>
    <h1>Công Nợ Simsoviet(giao truc tiep)</h1>
    <table>
      <tr>
        <td><label for="">Đại Lý</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Số Sim</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr> 
      <tr>
        <td><label for="">Giá Nhập</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Giá Bán</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Hoa Hồng Đại Lý</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Hoa Hồng Nhân Viên</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Chi Phí Giao Sim</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      <tr>
        <td><label for="">Đại Lý Hỗ Trợ</label></td>
        <td><input type="text" name="sosim" id=""></td>
      </tr>
      
    </table>
  </body>
</html>
